[Unit]
Description=Runecash's distributed currency daemon
After=network.target

[Service]
User=runecash
Group=runecash

Type=forking
PIDFile=/var/lib/runecashd/runecashd.pid

ExecStart=/usr/bin/runecashd -daemon -pid=/var/lib/runecashd/runecashd.pid \
          -conf=/etc/runecash/runecash.conf -datadir=/var/lib/runecashd

ExecStop=-/usr/bin/runecash-cli -conf=/etc/runecash/runecash.conf \
         -datadir=/var/lib/runecashd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
